<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/cssBundle")
    @RenderSection("styles", false)
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="searchbar">
        <input type="text" value="" class="form-control" />
        <div id="searchbar-close" class="pull-right">
            <a href="#"><i class="fa fa-close"></i></a>
        </div>

    </div>
    <div class="navbar navbar-default navbar-fixed-top shadow">
        <div class="container">
            <div class="navbar-header">
                <div class="pull-left">
                    <button type="button" class="navbar-toggle" style="margin-right:0; margin-left: 10px" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                @Html.ActionLink("Klasimo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav pull-right top-menu-wrapper" id="search">
                    <li class="top-menu-item"><a href="#" id="search-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                    <li class="top-menu-item"><a href="#" data-toggle="modal" data-target="#post-ad-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                    <li class="top-menu-item">
                        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right non-collapse" aria-labelledby="dropdownMenu1">
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            <li><a href="#">Register</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">Saved Ads</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav dropdown">
                    <li>@Html.ActionLink("Categories", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <div class="devsite-search-wrapper devsite-history-enabled">
                    <form class="devsite-search-form" action="" method="GET" id="top-search">
                        <div id="searchbox" class="devsite-searchbox">
                            <input placeholder="Search" type="text" class="devsite-search-field devsite-search-query hidden-sm" name="q" value="" autocomplete="off">
                        </div>
                        <div class="devsite-search-image">
                            <i class="glyphicon glyphicon-search add-margin-top"></i>
                        </div>
                        <div class="devsite-popout devsite-popout-closed">
                            <div class="devsite-history-container">
                                <div class="devsite-history-wrapper">
                                    <div class="form-group">
                                        <label for="Location">Location</label>
                                        <select class="selectpicker dropdown" name="Location" data-width="100%" data-live-search="true">
                                            <optgroup label="Metro Manila">
                                                <option>Entire Metro Manila</option>
                                                <option>Makati</option>
                                                <option>Taguig</option>
                                                <option>Quezon City</option>
                                                <option>Pasay</option>
                                                <option>Pasig</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Location">Categories</label>
                                        <select class="selectpicker dropdown" name="Location" data-width="100%" data-live-search="true">
                                            <optgroup label="Consumer Electronics">
                                                <option>Laptops</option>
                                                <option>Desktops</option>
                                                <option>Tablet</option>
                                                <option>Smart Phones</option>
                                            </optgroup>
                                            <optgroup label="Dress">
                                                <option>T-Shirt</option>
                                                <option>Pants</option>
                                                <option>Gowns</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div class="row">
                                            <span class="no-side-padding">
                                                <span class="col-xs-6"><input type="number" value="" class="form-control" placeholder="From" min="0"></span>
                                                <span class="col-xs-6"><input type="number" value="" class="form-control" placeholder="To" min="0"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("fullWidthHeading", required: false)
    @RenderSection("fullWidthBanner", required: false)

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </footer>
    
    @Html.Partial("~/Areas/User/Views/Account/LoginModal.cshtml")
    @Html.Partial("~/Areas/Advertisement/Views/Shared/_PostNewAd.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
