<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="pull-left">
                    <button type="button" class="navbar-toggle" style="margin-right:0; margin-left: 10px"  data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div class="pull-left">
                @Html.ActionLink("K", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-md hidden-lg hidden-sm" })
                @Html.ActionLink("Klasimo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-xs" })
                <button class="navbar-btn pull-left btn btn-primary">
                    <span class="glyphicon glyphicon-plus aria-hidden="true"></span>
                <span class="hidden-xs">Post Ad</span></button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
                @Html.Partial("_LoginPartial")

                <div class="devsite-search-wrapper devsite-history-enabled">
                    <form class="devsite-search-form" action="" method="GET" id="top-search">
                        <div id="searchbox" class="devsite-searchbox">
                            <input placeholder="Search" type="text" class="devsite-search-field devsite-search-query hidden-sm" name="q" value="" autocomplete="off">
                        </div>
                        <div class="devsite-search-image">
                            <i class="glyphicon glyphicon-search add-margin-top" style="color:#fff"></i>
                        </div>
                        <div class="devsite-popout devsite-popout-closed">
                            <div class="devsite-history-container">
                                <div class="devsite-history-wrapper"><div class="devsite-history-side-column"><div class="devsite-history-icon"></div></div><div class="devsite-history-main-column"><div class="devsite-history-column devsite-nav goog-menu" id="devsite-recent-column" role="menu" aria-haspopup="true" style="-webkit-user-select: none;"><label style="-webkit-user-select: none;">Recent Pages</label><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":0"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/web/" class="devsite-history-link" style="-webkit-user-select: none;">Build a Great Web Experience</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":3"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/analytics/devguides/collection/analyticsjs/method-reference" class="devsite-history-link" style="-webkit-user-select: none;">Method Reference - Web Tracking (analytics.js)</a></div></div></div><div class="devsite-history-column devsite-nav goog-menu" id="devsite-frequent-column" role="menu" aria-haspopup="true" style="-webkit-user-select: none;"><label style="-webkit-user-select: none;">Most Visited Pages</label><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":5"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/analytics/devguides/collection/analyticsjs/" class="devsite-history-link" style="-webkit-user-select: none;">Introduction to Analytics.js</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":6"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/cloud-test-lab/" class="devsite-history-link" style="-webkit-user-select: none;">Cloud Test Lab</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":7"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/analytics/devguides/collection/analyticsjs/method-reference" class="devsite-history-link" style="-webkit-user-select: none;">Method Reference - Web Tracking (analytics.js)</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":8"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/web/" class="devsite-history-link" style="-webkit-user-select: none;">Build a Great Web Experience</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" style="-webkit-user-select: none;" id=":9"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/analytics/devguides/collection/analyticsjs/advanced" class="devsite-history-link" style="-webkit-user-select: none;">Advanced Configuration - Web Tracking (analytics.js)</a></div></div></div><div class="devsite-history-footer"><a href="//myaccount.google.com/privacy#accounthistory" class="devsite-history-preferences-link button button-white">History Preferences</a></div></div></div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </div>
    </div>
    
    @RenderSection("fullWidthBanner", required: false)

    <div class="container body-content">
        @RenderBody() 
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        (function () {

            //Hide search bar pop out on blur of the search box, except when the next focus is the popout
            //http://stackoverflow.com/questions/8973532/blur-vs-focusout-any-real-differences
            $(document).mouseup(function (e) {
                var container = $(".devsite-search-form");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                        $(".devsite-popout").addClass("devsite-popout-closed");
                        $(".devsite-search-wrapper").removeClass("devsite-search-active");
                }
            });

            $(".devsite-search-query").bind("focus", function () {
                $(".devsite-search-wrapper").addClass("devsite-search-active");
                $(".devsite-popout").removeClass("devsite-popout-closed");
            });
        }());

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
