<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/cssBundle")
    @RenderSection("styles", false)
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="searchbar">
        <input type="text" value="" class="form-control" />
        <div id="searchbar-close" class="pull-right">
            <a href="#"><i class="fa fa-close"></i></a>
        </div>

    </div>
    @Html.Partial("_NavigationBar")

    @RenderSection("fullWidthHeading", required: false)
    @RenderSection("fullWidthBanner", required: false)

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Footer Column</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </footer>
    
    @Html.Partial("~/Areas/User/Views/Account/LoginModal.cshtml")
    @Html.Partial("~/Areas/Advertisement/Views/Shared/_PostNewAd.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
