
@section styles{
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    }
@section scripts{
<script src="~/Scripts/bootstrap-select.min.js"></script>
    }

@section fullWidthHeading{
    <div class="full-width-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>Search Results</h4>

                </div>
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <ol class=" breadcrumb pull-right">
                        <li><a href="#">Advertisement</a></li>
                        <li><a href="#">Search</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-3 no-padding-left">
            <div class="well well-sm">
                <form action="/" method="post">
                    <fieldset>
                        <legend>Filters</legend>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Search Keyword</label>
                            <input type="text" class="form-control" id="keyword" placeholder="Search Keyword">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Price</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-9 no-side-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <select class="selectpicker">
                            <option>Relevance</option>
                            <option>Price</option>
                            <option>Date</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6 col-xs-6">@Html.Partial("_AdvertisementListItem")</div>
            </div>

        </div>

    </div>
</div>