
@section styles{
    <link href="~/Content/card.css" rel="stylesheet" />
    }
@section scripts{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        $('.selectpicker-sort').selectpicker();
        $('.bootstrap-select').addClass('pull-right');

    </script>
    }

@*@section fullWidthHeading{
    <div class="full-width-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>Search Results</h4>

                </div>
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <ol class=" breadcrumb pull-right">
                        <li><a href="#">Advertisement</a></li>
                        <li><a href="#">Search</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}*@


<div class="row">
    <div class="col-md-3">
        @Html.Partial("_FilterPanel")
    </div>
    <div class="col-md-9">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-9">
                    <h5>Search Results</h5>
                </div>
                <div class="col-xs-3">
                    <select class="selectpicker-sort" data-width="auto">
                        <option>Sort By Relevance</option>
                        <option>Sort By Price</option>
                        <option>Sort By Date</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="listing-container">
            <div class="row">
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
                <div class="col-md-3 col-sm-6">@Html.Partial("_AdvertisementListItem")</div>
            </div>
        </div>
        
    </div>

</div>
